altair==4.1.0
blinker==1.4
brotlipy==0.7.0
certifi==2021.5.30
cycler==0.10.0
entrypoints==0.3
jedi==0.17.0
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
numpy==1.20.2
olefile==0.46
pandas==1.2.3
xlrd<2.0
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.1
streamlit==0.81.1
